streamlit
google-generativeai
faiss-cpu
langchain
langchain_google_genai
python-dotenv
pypdf
langserve
fastapi
uvicorn
bs4
sse_starlette
chromadb
ipykernel
wikipedia
arxiv
langchainhub
groq
langchain-groq